*.class
/out

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
#*.jar
*.ware
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# IntelliJ #
.idea
*.iml

# Maven #
target

# Gradle #
out/

# MAC Journaling #
/.DS_Store

# Gradle #
/gradle
.gradle
/build
/buildSrc/build
/subprojects/*/build
/subprojects/docs/src/samples/*/*/build
/subprojects/internal-android-performance-testing/build-android-libs

# Output #
output/*.out